* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./back.jpg);
    object-fit:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container {
    width: 310px;
    height: 540px;
    background: rgb(237, 237, 237);
    display: grid;
    border-radius: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-shadow: 0 10px 60px -5px rgba(197, 197, 197, 0.6);
    transition: 0.5s;
    animation: movement 0.7s infinite linear;
    transform: translateX(45deg);
}

@keyframes movement {
    0% {
        transform: translate(0px);
    }
    25% {
        transform: translate(20px);
    }
    50% {
        transform: translate(0px);
    }
    75% {
        transform: translate(-20px);
    }
    100% {
        transform: translate(0px);
    }
}

.container:hover {
    /* transform: scale(1.1); */
    transform: translate(20px);
    transition: 0.5s;
}

img {
    width: 70px;
    height: 70px;
}

.firstImg {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 8px;
}

.firstImg h1 {
    font-size: 3em;
    padding-left: 5px;
}
.firstImg img {
    width: 35px;
    height: 35px;
}

.secondImg {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    display: flex;
    gap: 15px;
}

.betweenImg {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdImg {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    display: flex;
    margin-top: 220px;
    gap: 15px;
    transform: rotate(180deg);
}

.fourthImg {
    grid-column: 4 / 3;
    grid-row: 3 / 4;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: rotate(180deg);
}

.fourthImg h1 {
    font-size: 3em;
    padding-left: 10px;
}

.fourthImg img {
    margin-left: 7px;
    width: 35px;
    height: 35px;
}




